{% extends "app/base.html" %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}

{% block main-content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h3>Success</h3>
                <p>Your registration was successful. You will be redirected back to the registration page shortly.</p>
                <!-- You can include any additional content here -->
                <div class="text-center text-primary fw-bold">
                    <small> <a href="{% url 'customerregistration' %}" class="text-danger">Register</a></small>
                </div>
            </div>
        </div>
    </div>

    <script>
        setTimeout(function() {
            window.location.href = "{% url 'customerregistration' %}";
        }, 10); // Redirect after 1 seconds (adjust as needed)
    </script>
{% endblock main-content %}
